
<div class="container mt-7 bg-dark">
    <div class="row mt-5 mx-2">
        <h3 class="text-center text-light  bg-dark"> ANALISIS DE DAYS GONE</h3>

                    <iframe width="600" height="750" src="https://www.youtube.com/embed/Sb28THwrw1c?si=4_4kP30x0PmBBxKe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                
            
            <main class="mt-4 p-2 card mx-4">
                <div class="card-body text-center heidt: 200px; width: 200px; bg-secondary ">
                <p>Bend Studio es un equipo veterano, con más de 20 años de experiencia, pero llevaban mucho tiempo alejados del desarrollo de grandes producciones para consolas de sobremesa, y se nota en Days Gone, que es un buen juego, pero que quizás no está a la altura de lo que muchos se esperaban, o del listón que había puesto la propia Sony con sus últimos trabajos, que era muy alto.

Es una aventura de acción en mundo abierto muy entretenida, esmerada y con una gran ambientación, y tiene algunas ideas bastante buenas, como el satisfactorio uso de la motocicleta, o las impresionantes hordas con cientos de zombis a las que te tienes que enfrentar. Pero por otro lado, no consigue sobresalir en algunos de los pilares básicos de la experiencia, como el sigilo y los tiroteos, muy ramplones y con una deficiente inteligencia artificial enemiga, y su historia, bastante cuidada y por momentos interesante, finalmente queda desdibujada en una aventura demasiado larga y que peca de ambiciosa.</p>
            
            </div>
        </div>
    </div>
</main>

        
