<div class="container border border-black border-5 rounded-4 mt-3 bg-primary">
    <div class="row">
        <div class="col-md-4 mx-auto mt-5 text-center">
            <img src="./img/logo.jpeg" class="img-fluid rounded-circle" alt="Imagen" style="width: 200px;">
            <h3 class="mt-3">DAYS GONE THE BEST GAME</h3>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-md-5 mx-auto">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PySyeZJpQ_A?si=daPeD-YkGckx8r8C"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <h3 class="mt-3 text-center">TODA UNA AVENTURA</h3>
        </div>
        
        <div class="col-md-5 mx-auto">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/da5Xeg-HDP4?si=wrI0gJZg7aBQ01bq"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <h3 class="mt-3 text-center">MEJORES MOMENTOS</h3>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <p class="mr-3 ml-3 ms-3 m-4 mb-4">Days Gone es un videojuego de terror y acción-aventura desarrollado por
            el estudio SIE Bend
            Studio y publicado por Sony Interactive Entertainment para PlayStation 4 y Microsoft
            Windows. Fue lanzado en PlayStation 4 el 26 de abril del año 2019 y el 18 de mayo de 2021
            para Microsoft Windows. Es la primera propiedad intelectual creada por SIE Bend Studio desde
            el videojuego Syphon Filter en el año 1999 y el primer videojuego para consolas domésticas
            desarrollado por el estudio desde Syphon Filter: Logan's Shadow en el 2010.
</p>
        </div>
    </div>
</div>