<main "mt-4">
    <div class="container bg-dark-subtle">
        <div class="card mx-auto" style="width:450px;">
            <div class="card-header bg-secondary  ">
                <img src="/img/logo.jpeg" alt="logo" class="card-img-top mx-auto m-6 rouded-circle"style="width:800px; height:800; display:block;">
                <h3 class="text-uppercase text-center p-4 width:600px">DAYS GONE THE BEST GAME</h3>
            </div>

            <div class="card-body text-center bg-secondary ">
                <p>Days Gone es un videojuego de terror y acción-aventura, desarrollado por el estudio SIE Bend Studio y publicado por Sony Interactive Entertainment para PlayStation 4 y Microsoft Windows. Fue lanzado en PlayStation 4 el 26 de abril del año 2019 y el 18 de mayo de 2021 para Microsoft Windows. Es la primera propiedad intelectual creada por SIE Bend Studio desde el videojuego Syphon Filter en el año 1999 y el primer videojuego para consolas domésticas desarrollado por el estudio desde Syphon Filter: Logan's Shadow en el 2010.</p>
            
            </div>

    

            </div>

        </div>
    </div>
</main>