
<footer class="footer bg-dark text-white text-center m-5 p-9 my-3" style="position: absolute;">
    <div class="container">
        <p class="mb-0">VIDEO JUEGO DE ACCION Y AVENTURA © 2024 DAYANA ALCAZAR </p>
    </div>
</footer>
