
<footer class="footer bg-dark text-white text-center m-5 p-9 my-3" style="position: absolute;">
    <div class="container">
        <p class="mb-0">VIDEOS JUEGOS DE ACCION © 2024 </p>
    </div>
</footer>
