

        <div class="container-fluid mt-5" style=" height: 750px;">
        <div class="row">  
        <div class="col-md-4 mx-auto ">
            <div class="card text-center ">
                <div class="card-header">
                    <h4 class="text-uppercase ">crea tu personaje</h4>

                
            
                        <div class="card-body border border-primary border-5  ">
                    <form action="/add" method="post" enctype="multipart/form-data">
                        <div class="input-group mt-2 ">
                            <label for="name" class="input-group-text " > <b>Nombre personaje </b> </label>      
                        <input class="form-control"  type="text" name="name" id="name" placeholder="nombre personaje" autofocus required>
                        </div>


                        <div class="input-group mt-2">
                            <label for="last_name" class="input-group-text"> <b>Apellido personaje </b> </label>      
                        <input class="form-control"  type="text" name="last_name" id="last_name" placeholder="apellido personaje" autofocus required>
                        </div>


                        <div class="input-group mt-2">
                            <label for="gender" class="input-group-text"> <b>Genero de personaje </b> </label>      
                        <input class="form-control"  type="text" name="gender" id="gender" placeholder="genero personaje">
                        </div>


                        <div class="input-group mt-2">
                            <label for="species" class="input-group-text"> <b>Especie de personaje </b> </label>      
                        <input class="form-control"  type="text" name="species" id="species" placeholder="species personaje">
                        </div>

                        <div class="input-group mt-2">
                            <label for="character_type" class="input-group-text"> <b>Tipo de personaje </b> </label>      
                        <input class="form-control"  type="text" name="character_type" id="character_type" placeholder="tipo personaje">
                        </div>


                        <div class="input-group mt-2">
                            <label for="characteristics" class="input-group-text"> <b>Caracteristicas de personaje </b> </label>      
                        <input class="form-control"  type="text" name="characteristics" id="characteristics" placeholder="caracteristicas personaje">
                        </div>

                        <div class="input-group mt-2">
                            <label for="age" class="input-group-text"> <b>Edad personaje </b> </label>      
                        <input class="form-control"  type="number" name="age" id="age" placeholder="edad personaje">
                        </div>

                        <div class="input-group mt-2">
                        <input class="form-control"  type="file" name="file" id="file" >
                        </div>                    



                        <div class="form-group mt-4 d-grid gap-2">
                            <button class="btn btn-primary">crear personaje</button>
                        </div>

                    
                    </form>

                </div>
            </div>
        </div>
    </div>
    </div>


